streamlit
openai
python-dotenv
pandas
git+https://github.com/nhorvath/Pyrebase4.git
google-cloud-storage
google-auth
google-auth-oauthlib
google-api-python-client
# Force rebuild to apply Pyrebase fork